.bibleverse {

    text-color: #fff !important;
}

.bible-verse {
    text-color: #fff !important;
    font-size: 14px;
}

.constitution {
    background: url(../images/parallax/potter.jpg) no-repeat;
    background-attachment: fixed;
    padding: 345px 0;
}

.women {
    background: url(../images/parallax/fishtail.jpg) no-repeat;
    background-attachment: fixed;
    padding: 345px 0;
}

.worship {
    background: url(../images/parallax/worship.jpg) no-repeat;
    background-attachment: fixed;
    padding: 345px 0;
}

.prayer {
    background: url(../images/parallax/pray.jpg) no-repeat;
    background-attachment: fixed;
    padding: 345px 0;
}

.compassion {
    background: url(../images/parallax/compassion.jpg) no-repeat;
    background-attachment: fixed;
    padding: 345px 0;
}

.children {
    background: url(../images/parallax/children.jpg) no-repeat;
    background-attachment: fixed;
    padding: 345px 0;
}

.teens {
    background: url(../images/parallax/bg-05.jpg) no-repeat;
    background-attachment: fixed;
    padding: 345px 0;
}

.youths {
    background: url(../images/parallax/bg-04.jpg) no-repeat;
    background-attachment: fixed;
    padding: 345px 0;
}

.mens {
    background: url(../images/parallax/bg-01.jpg) no-repeat;
    background-attachment: fixed;
    padding: 345px 0;
}

.testi {
    padding: 50px 25px;
}

.team-member-profile-section {
    background: #fff
}

.team-member-profile-section .portfolio-item .portfolio-thumb img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: flex;

}

.breadcrumb {
    font-size: 1.2em
}

.page-content-section .sofimage img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: flex
}

.latest-posts-classic .post-title a {
    font-size: 14px
}

.gallery-section .portfolio-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: flex
}

.resource-page-section .portfolio-details p {
    font-weight: bold;
    transition: all 1s;
}

.resource-page-section .portfolio-details a:hover p {
    color: #0A95D8 !important;
}

.resource-page-section .portfolio-thumb img {
    width: 100%;
    height: 175px;
    display: flex;
    object-fit: cover
}
