.fa-font-icon-size {
    font-size: 22px
}

.table-responsive {
    overflow: hidden
}

.dataTables_filter {
    float: right
}

#previewSection img {
    width: 100%;
    float: left;
    height: 180px;
    object-fit: cover;
    display: flex
}

#radioBtn .notActive {
    color: #fff;
    background-color: red;
    border: none;
    box-shadow: none;
}

form label {
    font-weight: lighter !important;
}

.block-content {
    padding: 1.25rem
}
i.fa{ font-size: 18px}
